* {
  padding: 0;
  margin: 0;
}

.layoutNeeded {
  background-color: lavender;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

header {
  margin: 10px;
  grid-column: 2/5;
  background-color: skyblue;
  height: 200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header h1 {
  font-family: "Courier New", Courier, monospace;
  grid-column: 2/5;
  font-weight: bolder;
  margin-top: 20px;
  margin-left: 20px;
}

img {
  grid-column: 1/2;
  height: 200px;
}

#select-Film {
  margin-top: 20px;
  height: 20px;
  grid-column: 2/4;
  margin-left: 100px;
}

#display-info {
  grid-column: 2/6;
  margin-left: 140px;
  font-family: monospace;
}

#display-info h3 {
  margin-top: 30px;
}

#display-info p {
  margin-top: 20px;
}

form {
  margin-top: 40px;
  grid-column: 2/5;
  margin-left: 50px;
  font-family: monospace;
}

ul {
  grid-column: 2/5;
  margin-top: 20px;
  margin-left: 100px;
  font-family: monospace;
}

input .submit-button {
  margin-right: 10px;
  width: 200px;
}

input #review {
  width: 400px;
}
